.cardContainer{ 
    border: 1px solid rgba(112, 112, 112, 0.623);
    border-radius: 10px;

    width: 20%;

    margin: auto;
    margin-bottom: 16px;
    padding: 8px;

    display: flex;
    flex-direction: column;
}

.checkedTask{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.buttons{
    border: 0;

    color: #000000;
    font-size: 16px;
    text-decoration: none;

    border-radius: 16px;

    margin: 0;
    
    cursor: pointer;

    &:hover{
        background-color: transparent;
        color:  #a7a7a7;
    }
}